#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  
}


.card-img-container {
  position: relative;
  width: 100%;
  padding-top: 75%;
  overflow: hidden;
}

.card-img-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.card {
  padding: 0px;
  /* border: none; */
}

.borderradius {
  border-radius: 10px;
  background-color: white;
  position: relative;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 1023px !important;
  }
}

.upper-canvas {
  width: 100% !important;
}

.lower-canvas {
  width: 100% !important;
}

.canvas-container {
  width: 100% !important;
  background-color: transparent!important;
  border-radius: 10px;
  border: 1px dotted black;
}

.btn-secondary {
  position: relative;
  overflow: hidden;
  background-color: transparent;
  /* Ensure button background is transparent */
  border: 1px solid #6c757d;
  /* Button border color */
  color: #6c757d;
  /* Text color */
  padding: 5px 10px;
  /* Padding for the button */
  transition: color 0.3s ease, border-color 0.3s ease;
  /* Smooth transition for text color and border */
}

.btn-secondary::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 200%;
  /* Double the width to cover the button diagonally */
  height: 200%;
  /* Double the height for diagonal coverage */
  background-color: rgba(0, 0, 0, 0.1);
  /* Background color for the hover effect */
  transition: left 0.3s ease, top 0.3s ease;
  transform: rotate(45deg);
  /* Apply diagonal rotation */
}

.btn-secondary:hover::before {
  top: -50%;
  /* Move the background element */
  left: -50%;
  /* Adjust the position on hover for the diagonal effect */
}

.btn-secondary:hover {
  color: white;
  /* Change text color on hover */

}



.gradient-background__wrapper {
  background: #141414;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.gradient-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-filter: blur(250px);
  filter: blur(250px);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.gradient-background__shape--1 {
  bottom: 0;
  left: 0;
  width: 700px;
  height: 700px;
  background: #8e7bff;
  mix-blend-mode: lighten;
  -webkit-transform: translate(-30%, 40%);
  transform: translate(-30%, 40%);
  -webkit-animation-name: gradientShapeAnimation1;
  animation-name: gradientShapeAnimation1;
}

.gradient-background__shape--2 {
  top: 0;
  right: 0;
  width: 600px;
  height: 600px;
  background: #44f2eb;
  -webkit-transform: translate(20%, -40%);
  transform: translate(20%, -40%);
  -webkit-animation-name: gradientShapeAnimation2;
  animation-name: gradientShapeAnimation2;
}

.gradient-background__noise {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-image: url(https://cdn.shopify.com/shopifycloud/identity/assets/gradient/noise-ae0ab16….png); */
  background-size: 100px;
}

@-webkit-keyframes gradientShapeAnimation1 {
  0% {
    -webkit-transform: translate(-30%, 40%) rotate(-20deg);
    transform: translate(-30%, 40%) rotate(-20deg)
  }

  25% {
    -webkit-transform: translate(0%, 20%) skew(-15deg, -15deg) rotate(80deg);
    transform: translate(0%, 20%) skew(-15deg, -15deg) rotate(80deg)
  }

  50% {
    -webkit-transform: translate(30%, -10%) rotate(180deg);
    transform: translate(30%, -10%) rotate(180deg)
  }

  75% {
    -webkit-transform: translate(-30%, 40%) skew(15deg, 15deg) rotate(240deg);
    transform: translate(-30%, 40%) skew(15deg, 15deg) rotate(240deg)
  }

  100% {
    -webkit-transform: translate(-30%, 40%) rotate(-20deg);
    transform: translate(-30%, 40%) rotate(-20deg)
  }
}

@keyframes gradientShapeAnimation1 {
  0% {
    -webkit-transform: translate(-30%, 40%) rotate(-20deg);
    transform: translate(-30%, 40%) rotate(-20deg)
  }

  25% {
    -webkit-transform: translate(0%, 20%) skew(-15deg, -15deg) rotate(80deg);
    transform: translate(0%, 20%) skew(-15deg, -15deg) rotate(80deg)
  }

  50% {
    -webkit-transform: translate(30%, -10%) rotate(180deg);
    transform: translate(30%, -10%) rotate(180deg)
  }

  75% {
    -webkit-transform: translate(-30%, 40%) skew(15deg, 15deg) rotate(240deg);
    transform: translate(-30%, 40%) skew(15deg, 15deg) rotate(240deg)
  }

  100% {
    -webkit-transform: translate(-30%, 40%) rotate(-20deg);
    transform: translate(-30%, 40%) rotate(-20deg)
  }
}

@-webkit-keyframes gradientShapeAnimation2 {
  0% {
    -webkit-transform: translate(20%, -40%) rotate(-20deg);
    transform: translate(20%, -40%) rotate(-20deg)
  }

  20% {
    -webkit-transform: translate(0%, 0%) skew(-15deg, -15deg) rotate(80deg);
    transform: translate(0%, 0%) skew(-15deg, -15deg) rotate(80deg)
  }

  40% {
    -webkit-transform: translate(-40%, 50%) rotate(180deg);
    transform: translate(-40%, 50%) rotate(180deg)
  }

  60% {
    -webkit-transform: translate(-20%, -20%) skew(15deg, 15deg) rotate(80deg);
    transform: translate(-20%, -20%) skew(15deg, 15deg) rotate(80deg)
  }

  80% {
    -webkit-transform: translate(10%, -30%) rotate(180deg);
    transform: translate(10%, -30%) rotate(180deg)
  }

  100% {
    -webkit-transform: translate(20%, -40%) rotate(340deg);
    transform: translate(20%, -40%) rotate(340deg)
  }
}

@keyframes gradientShapeAnimation2 {
  0% {
    -webkit-transform: translate(20%, -40%) rotate(-20deg);
    transform: translate(20%, -40%) rotate(-20deg)
  }

  20% {
    -webkit-transform: translate(0%, 0%) skew(-15deg, -15deg) rotate(80deg);
    transform: translate(0%, 0%) skew(-15deg, -15deg) rotate(80deg)
  }

  40% {
    -webkit-transform: translate(-40%, 50%) rotate(180deg);
    transform: translate(-40%, 50%) rotate(180deg)
  }

  60% {
    -webkit-transform: translate(-20%, -20%) skew(15deg, 15deg) rotate(80deg);
    transform: translate(-20%, -20%) skew(15deg, 15deg) rotate(80deg)
  }

  80% {
    -webkit-transform: translate(10%, -30%) rotate(180deg);
    transform: translate(10%, -30%) rotate(180deg)
  }

  100% {
    -webkit-transform: translate(20%, -40%) rotate(340deg);
    transform: translate(20%, -40%) rotate(340deg)
  }
}

.gradient-background__shape {
  mix-blend-mode: lighten;
  -webkit-animation-duration: 20s;
  animation-duration: 20s;
  position: absolute;
  border-radius: 100%;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(0.1, 0, 0.9, 1);
  animation-timing-function: cubic-bezier(0.1, 0, 0.9, 1);
}
canvas {
  display: block;
  width: 100%; /* or any specific width */
  height: 100%; /* or any specific height */
}
